In [4]:
import math  # Import the math module first

degrees = 45
radians = degrees / 360.0 * 2 * math.pi  # No indentation here
math.sin(radians)

0.7071067811865476

In [5]:
math.sqrt(2) / 2.0

0.7071067811865476

In [20]:
import math
def f(x):
    return x+1
result = f(3)
print(result)

4

In [51]:
import random
for i in range(5):
    x = random.random()
    print(x)

0.42040688565863804
0.4733608133077475
0.420526045416324
0.39617194658084354
0.43136456179255

In [52]:
import random
random.randint(1,10)

6

In [55]:
import random
t = [3,5,0,7]
random.choice(t)

7

In [68]:
def print_me():
    print("my name simo.")
print(print_me)    
print(type(print_me))
print_me()

<function print_me at 0x0000024CF5CC7740>
<class 'function'>
my name simo.

In [69]:
name = input("Name")
age = input("Age")
print("welcome",name,"the age of",age)

Name simo
Age 18

welcome simo the age of 18

In [81]:
uni_price = float(input("Uni Price $ :"))
quantity =int(input("Quantity :") )
total = uni_price * quantity
print("Total = ",total,"$")

Uni Price $ : 3.4
Quantity : 4

Total =  13.6 $

In [83]:
prices = [10, 20, 15, 30]
print(sum(prices))
print(prices[0]*prices[3])

75
300

In [99]:
prices = [12,23,34,56,]
print(prices[3])#العنصر الرابع
print(prices[0])#العنصر الاول
prices.append(90)#إضافة عنصر
print(prices)
print(len(prices))#عدد العناصر في القائمة
print(sum(prices))#مجموع العناصر داخل القائمة
for price in prices:#كتابة كل عنصر في القائمة او المرور على كل عنصر فيها
    print(price)
    #تمرين صغير
list = [27, 45, 89,11]
list.append(109)
print("Total price:",sum(list),"$")

56
12
[12, 23, 34, 56, 90]
5
215
12
23
34
56
90
Total price: 281 $

In [104]:
numbers = [10,34,56,]
for num in numbers:
    print(num)
print(sum(numbers))    
numbers.append(50)
print(numbers)
avg = sum(numbers) / len(numbers)#حساب متوسط القائمة 
print(avg)

10
34
56
100
[10, 34, 56, 50]
37.5

In [114]:
sales = [100, 150, 80, 200, 170]
#مجموع عدد المبيعات 
Totale_sales = sum(sales)
print("Sales:",Totale_sales)
#عدد الايام
Days = len(sales)
print("days:",Days)
#متوسط المبيعات
avg = Totale_sales / Days
print("average:",avg)
Max_sales = max(sales)#اعلى المبيعات 
Min_sales = min(sales)#ادنى المبيعات
print("Highest sales:",Max_sales)
print("Lowest sales:",Min_sales)
Top_Sales_Day = sales.index(Max_sales) #موضع اكبر قيمة في القائمة
print("Top Sales Day:",Top_Sales_Day + 1)

Sales: 700
days: 5
average: 140.0
Highest sales: 200
Lowest sales: 80
Top Sales Day: 4

In [3]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'simo' in cheeses#الاستفسار عن عنصر هل يوجد في القائمة

False

In [6]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
cheeses[2] = 'simo'#تغيير عنصر من القائمة 
print(cheeses)

['Cheddar', 'Edam', 'simo']

In [8]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
for cheese in cheeses:# المرور على جميع العناصر
    print(cheese)

Cheddar
Edam
Gouda

In [10]:
a = [1, 2, 3]
b = [4, 5, 6]
c = b+a
print(c)#جمع قائمتين في قائمة واحدة

[4, 5, 6, 1, 2, 3]

In [7]:
sales = []
for i  in range(3):
    data_in = int(input(f"day {i+1} sales:"))
    sales.append(data_in)
    
#المجموع
total = sum(sales)
print("Totale:",total)

#المتوسط
avg = total / len(sales)
print("average :",avg)

#اعلى المبيعات
Max_sales = max(sales)
print("Top sales:",Max_sales)

#احسن يوم في المبيعات
best_day = sales.index(Max_sales)
print("best day:",best_day+1)
#هل هناك ايام كانت اكبر من متوسط المبيعات
for x in range(len(sales)):#لنفحص جميع الايام في المبيعات 
    if sales[x] > avg:#اذا كان مكان  اكس اكبر من متوسط المبيعات
        print("Days above average:",x+1)#اطبع رقم اليوم زائد واحد

day 1 sales: 150
day 2 sales: 467
day 3 sales: 321

Totale: 938
average : 312.6666666666667
Top sales: 467
best day: 2
Days above average: 2
Days above average: 3